<!-- <p>template-control-flow works!</p> -->
<h2>Control Flow</h2>
<h3>IF</h3>

<!-- Nova Forma -->
@if (isTrue){
 É verdadeiro
} @else if (1 == 1){
 teste de else if
} @else{
 Não está correto
}

<!-- Antiga Forma -->
<ng-container *ngIf="isTrue; else isFalse">
    <p>Está correto</p>
    <p>É verdadeiro</p>
</ng-container>
<ng-template #isFalse> Não está correto </ng-template>

<hr />

<h3>IF, FOR</h3>
<!-- Nova Forma -->
@if(loadingData$ | async; as data) {
    <ul>
        @for(item of data; track item){
            <li>{{ item }}</li>
        }
    </ul>
} @else {
    <p>Carregando...</p>
}

@for(item of loadingData$ | async; track item){
    <li>{{ item }}</li>
}

<!-- Forma Antiga -->
<!-- <ng-container *ngIf="loadingData$ | async as data; else loading">
    <p>{{ data }}</p>
</ng-container>
<ng-template #Loading> <p>Carregando...</p> </ng-template> -->

<!-- <ng-container *ngIf="loadingData$ | async as data; else loading">
    <ul>
        <ng-container *ngFor="let item of data; trackBy: trackByFn">
            <li> {{ item }} </li>
        </ng-container>
    </ul>
</ng-container>
<ng-template #Loading> <p>Carregando...</p> </ng-template> -->

<hr />

<h3>FOR e seus valores</h3>
<!-- Nova Forma -->
@for (
    item of itens; track item.name;
    let i = $index;
    let c = $count;
    let f = $first;
    let l = $last;
    let e = $even;
    let o = $odd;
) {
    <p>{{ item.name }}</p>
    <p>index - {{ i }}</p>
    <p>count - {{ c }}</p>
    <p>first - {{ f }}</p>
    <p>last - {{ l }}</p>
    <p>even - {{ e }}</p>
    <p>odd - {{ o }}</p>
}
<hr>
<!-- Forma Antiga -->
<ng-container
        *ngFor="
            let item of itens;
            let i = index;
            let c = count;
            let f = first;
            let l = last;
            let e = even; type
            let o = odd;
            trackBy: trackByFn
        "
>
    <p>{{ item.name }}</p>
    <p>index - {{ i }}</p>
    <p>count - {{ c }}</p>
    <p>first - {{ f }}</p>
    <p>last - {{ l }}</p>
    <p>even - {{ e }}</p>
    <p>odd - {{ o }}</p>
</ng-container>

<input #name type="text">
<button (click)="addNewName(name.value)">Add Name</button>